@import '../../node_modules/angular-material/angular-material.scss';

.something {
  background: #FAFAFA;
  transition: all 0.1s;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.swatch-row {
  padding: 1em;
  .name {}
  .hex {}
}

.horizontal-space {
  margin-top: 0.5em;
}
