doctype html
html(ng-app='app')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/all.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
    meta(name="viewport", content="initial-scale=1")
  body
    //- base(href='/')
    block content

    script(src='/javascripts/app.js')
