<div layout="column" layout-align="center" flex="50">
  <md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <md-button hide-gt-sm class="md-icon-button">
    <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
    </md-button>
    <h1>Other Levels</h1>
  </div>
  </md-toolbar>
  <div layout="row" layout-align="center" flex="50">
    <div layout="column" flex="50" id="content">
      <md-content layout="column" flex class="md-padding">
      <ui-view></ui-view>
      </md-content>
    </div>
  </div>
</div>
